@page "/Communities/{CommunityId:int}"
@model CommunityApp.Pages.Communities.DetailsModel
@{
    ViewData["Title"] = $"{Model.Community!.Name}";
}

<section class="container mt-4">
    <h1 class="h3">@ViewData["Title"]</h1>

    <a asp-page="./Homes/Create" asp-route-CommunityId="@Model.CommunityId">Create Home</a>

    <h3 class="h4">Homes</h3>

    <ul>
        @foreach(var home in Model.Community!.Homes)
        {
            <li><a asp-page="./Homes/Details" asp-route-CommunityId="@Model.CommunityId" asp-route-HomeId="@home.Id">@home.Id</a></li>
        }
    </ul>

    @if (Model.CanDelete)
    {
        <a asp-page="./Delete" asp-route-CommunityId="@Model.CommunityId" class="btn btn-danger mr-2">Delete</a>
    }

    <a asp-page="./Edit" asp-route-CommunityId="@Model.CommunityId" class="btn btn-secondary mr-2">Edit</a>

    <a asp-page="./Index" class="btn btn-primary">Back to Communities</a>

</section>
