@page "/Users/{UserId}"
@model CommunityApp.Pages.Users.DetailsModel
@{
    ViewData["Title"] = $"{Model.UserDto!.UserName}";
}

<section class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    <div class="card mt-4">
        <div class="card-body">
            <ul class="nav nav-tabs" id="userDetailsTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="user-info-tab" data-bs-toggle="tab" href="#user-info" role="tab" aria-controls="user-info" aria-selected="true">User Info</a>
                </li>
            </ul>
            <div class="tab-content mt-3" id="userDetailsTab">
                <section class="tab-pane fade show active" id="user-info" role="tabpanel" aria-labelledby="user-info-tab">
                    <h3 class="visually-hidden">User info</h3>

                    <dl class="row">
                        <dt class="col-sm-4">Id:</dt>
                        <dd class="col-sm-8">@Model.UserDto!.Id</dd>

                        <dt class="col-sm-4">UserName:</dt>
                        <dd class="col-sm-8">@Model.UserDto!.UserName</dd>

                        <dt class="col-sm-4">Email:</dt>
                        <dd class="col-sm-8">@Model.UserDto!.Email</dd>

                        <dt class="col-sm-4">IsAdmin:</dt>
                        <dd class="col-sm-8">@Model.UserDto!.IsAdmin</dd>

                        <dt class="col-sm-4">IsManager:</dt>
                        <dd class="col-sm-8">@Model.UserDto!.IsManager</dd>
                    </dl>
                </section>
            </div>

            <div class="mt-3">
                @if (!Model.UserDto!.IsManager)
                {
                    <a asp-page="./AddManager" asp-route-UserId="@Model.UserId" class="btn btn-info">Make Manager</a>
                }
                else
                {
                    <a asp-page="./RemoveManager" asp-route-UserId="@Model.UserId" class="btn btn-warning">Remove Manager</a>
                }
                @if (!Model.UserDto!.IsAdmin)
                {
                    <a asp-page="./Delete" asp-route-UserId="@Model.UserId" class="btn btn-danger">Delete</a>
                }
                <a asp-page="./Index" class="btn btn-secondary">All Users</a>
            </div>
        </div>
    </div>
</section>