@page
@model CommunityApp.Pages.Users.IndexModel
@{
    ViewData["Title"] = "All Users";
}

<section class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    <div class="card mt-4">
        <div class="card-body">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Is Manager?</th>
                        <th>Is Admin?</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td><a asp-page="./Details" asp-route-UserId="@user.Id">@user.UserName</a></td>
                            <td>@(user.IsManager ? "✔" : "")</td>
                            <td>@(user.IsAdmin ? "✔" : "")</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</section>