@page
@model CommunityApp.Pages.Payments.IndexModel
@{
    ViewData["Title"] = Model.CanManageAllPayments ? "All Payments" : "My Payments";
}

<section class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    <div class="card mt-4">
        <div class="card-body">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Lease</th>
                        <th>Community</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var payment in Model.Payments)
                    {
                        <tr>
                            <td><a asp-page="/Payments/Details" asp-route-PaymentId="@payment.Id">@payment.PaymentDate.ToString("MMM d, yyyy")</a></td>
                            <td>@payment.Amount.ToString("C")</td>
                            <td>@payment.Description</td>
                            <td>
                                <a asp-page="/Leases/Details" asp-route-LeaseId="@payment.LeaseId">
                                    @payment.Lease?.TenantName
                                </a>
                            </td>
                            <td>
                                <a asp-page="/Communities/Details" asp-route-CommunityId="@payment.Lease!.Home!.CommunityId">
                                    @payment.Lease?.Home?.Community?.Name
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</section>